<!--
  HOST
  STAGE 3.5
  get "/sessions/:uuid/genre_result", to: "game_sessions#genre_result", as: :genre_result
  # result shows selected genre after voting, same views for host and guest
  # previous page host: genre_stats.html.erb
  # previous page guest: ../genre_votes/show.html.erb
  # next page: song_start.html.erb
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>
<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">

  <h1>Alright party animals, we've got our genre locked and loaded!</h1>
  <h2>Tonight’s vibe:</h2>
  <h1 class="genre-selected"><%= @winning_genre.name %></h1>

  <!-- <button type="button" class="btn btn btn-outline-light goto_bt">Start!</button> -->


  <% if @session.user == current_user %>
    <h1>
      <%= render 'shared/countdown',
          duration: 15,
          session: @session,
          next_stage: 4.0,
          auto_advance: true %>
    </h1>
  <% else %>
    <h1><span id="countdown-15"></span></h1>
  <% end %>

</div>

<%# <%= render 'shared/debug_stage_nav' %>
