<!--
  HOST AND GUEST
  STAGE 6
  get "/sessions/:uuid/sing_start", to: "game_sessions#sing_start", as: :sing_start
  # announcement for karaoke singing, host and guest get here after song result
  # only host screen has buttons to jump off to Youtube and proceed to next stage
  # previous page: song_result.html.erb
  # next page: sing_end.html.erb
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>
<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">

  <h1>Mic check, party people! 🎤</h1>

  <p>
    The karaoke train is about to leave the station. Get ready to bring the house down!
  </p>

  <p><%= @winning_song.title %></p>
  <p><%= @winning_song.artist %></p>

  <% if @session.user == current_user %>
    <div id="play-button-host" class="my-5 pb-5">
      <%= render 'play_button', session: @session, can_start: true, song: @winning_song, style: "btn btn-outline-light goto_bt" %>
    </div>

    <div id="home-button-host" class="my-5 pb-5">
      <%= render 'home_button', session: @session, can_start: true, style: "btn btn-outline-light goto_bt" %>
    </div>
  <% end %>

</div>

<%# <%= render 'shared/debug_stage_nav' %>
